:root {
    --color-bg: #fff;
}

div, section {
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
        flex: 1 1 auto;
        padding: 1em;
        margin: 1em;
    }
}
div {
    flex-direction: column;
}
button {
    &:hover {
        color: var(--color-bg);
        background: $color-dark;
    }
}

.cursor {
    cursor: pointer;
}