$color-dark: #333;
$color-bg: #fff;
$color1: #1fab89;
$color2: #62d2a2;
$color3: #9df3c4;
$color4: #d7fbe8;

$native-font-stack: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;

@import 'reset', 'style';